<html>
    <head>
        <title>{{ title }} - Freddie's Text Adventure Game</title>
    </head>
    <body>
    <h3> You are in {{ G.room.description }} </h3>
    {% if G.room.items|length > 0 %}
        <h3> You can see </h3>
        <ul>
            {% for item in G.room.items %}
                <li>{{ item.__str__() }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% if G.room.exits|length > 0 %}
        <h3> Exits are </h3>
        <ul>
            {% for e in G.room.exits.keys() %}
                <li>{{ config['Directions'][e] }}</li>
            {% endfor %}
        </ul>
        {% endif %}        
    {% if G.person.items|length > 0 %}
        <h3> You are carrying </h3>
            {% for item in G.person.items %}
                <li>{{ item.__str__() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </body>
    <form method="POST">
        <input name="text" autofocus autocomplete="off">
    </form>
</html>
